.top {
	float: left;
	width: 100%;
	padding: 25px 0 25px 0;
	border: none;
	outline: none;
	background-color: #FE4365;
}

.menu {
	float:right;
	padding: 0 50px 0 0;
	font-style: bold;
	font-size: 20px;
    text-decoration: none;
	color: #FFFFFF;
}
.titre{
	padding-left:700px;
	padding-top: 200px;
	color:black;
	font-size:40px;
}
.Bibliotheque{
	margin-left:500px;
	height:200px;
	width:800px;
	font-size: 25px;
}